*,
*::before ,
*::after {
    padding: 0;
    margin: 0;
    outline: 0 !important;
    box-sizing: inherit;
}

html {
  /* 1rem = 10px = 62.5% */
  font-size:  62.5%;
  @include respond-to(tablet-land) { //1200px
      font-size:  56.25%; // 1rem 9px 9/16 56%
  }

  @include  respond-to(tablet) { // 900px
      font-size:  50%; // 1rem 8 8/16 50%
  }

  @include respond-to(biger-screens) {
      font-size:  75%; // 1rem = 12 12/16 = 75%
  }
}

body {
  box-sizing: border-box;
  background-color: #dddddd45;
}